.momo-bk-color-black {
	background-color: #000000;
	color: #000000;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../../../image/general/loader.gif') 50% 50% no-repeat #000000;
	opacity: .9;
}

a, a:link, a:visited, a:hover {
	text-decoration: none;
}

.btn-outline-momo {
	color: #ffbbee;
	border-color: #ffbbee;
	font-weight: bolder;
}
.btn-outline-momo:hover {
	color: #ffffff;
	background-color: #ffbbee;
}
.btn-outline-momo-color {
	color: #986db2;
	border-color: #986db2;
	font-weight: bolder;
}
.btn-outline-momo-color:hover {
	color: #ffffff;
	background-color: #000000;
}

.momo-weight {
	color: #ffffff;
	text-shadow: 2px 2px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}
.momo-weight-color {
	color: #986db2;
	text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}
.momo-underline {
	background:
		linear-gradient(to right, rgba(0,0,0,0) 0%, #ffbbee 30%, rgba(0,0,0,0) 60%)
		left
		bottom
		no-repeat;
	background-size: 98% 2px;
}
.momo-momotan {
	width: 100px;
}

.anime-none {
	display: none;
}

.music-info-bg-color {
	background-color: #232323;
}
.music-cover {
	cursor: pointer;
}
.music-edit-size {
	font-size: 1rem;
}
.music-box {
	box-shadow: 2px 2px 5rem 1rem #232323;
	border-radius: 5rem;
	background-color: #232323;
	padding-left: 6%;
	padding-right: 6%;
}

.card-title {
	color: #ffbbee;
}

.unwork-back a {
	box-shadow: 2px 2px 10rem 2rem #e83015;
}

.modal-content {
	border-radius: 2rem;
	box-shadow: 5rem 1rem 15rem #000000;
}
.modal-header {
	background-image: linear-gradient(#ffbbee 1%, #ffffff 99%);
	border-radius: 2rem 2rem 0px 0px;
}
.modal-header .close {
	opacity: 1;
}
.modal-body {
	background-image: linear-gradient(#ffffff 80%, #ffbbee 95%);
	border-radius: 0px 0px 2rem 2rem;
}

.music-items {
}
.music-intro-1 {
}
.music-intro-1 img {
	width: 100%;
	position: relative;
	left: -1rem;
	top: -1rem;
}
.music-intro-2 {
}
.music-intro-3 {
}
.music-extra-title {
}
.music-extra-audit {
}
.music-extra-detail {
}
.music-extra-line-ext {
	border-color: #ffbbee;
	border-style: outset;
	border-width: 3px;
	border-radius: 3rem;
	width: 60%;
}
.music-extra-line {
	border-color: #ffbbee;
	border-style: dashed;
}
.music-extra-back {
}

.table-content-title {
	font-size: 1.2rem;
	color: #ffffff;
	background-color: #232323;
}
.table-content-sub {
	font-size: 0.7rem;
}
.table-content-extra-line-ext {
	border-color: #000000;
	border-style: outset;
	border-width: 3px;
	border-radius: 3rem;
}
.table-content-extra-line-ext-light {
	border-color: #000000;
	border-style: outset;
	border-width: 2px;
	border-radius: 3rem;
}

.live-record-bk-1 {
	background-color: #232323;
	border-radius: 0px 80px 0px 0px;
}
.live-record-bk-2 {
	background-color: #232323;
	border-radius: 0px 0px 0px 80px;
}
.live-record-intro {
	color: #000000;
	text-shadow: 2px 2px 0 #f2f2f2, -1px -1px 0 #f2f2f2, 1px -1px 0 #f2f2f2, -1px 1px 0 #f2f2f2;
	background-color: #ffbbee;
	border-radius: 0px 80px 80px 0px;
}
.live-record-line-1 {
	border-color: #ffffff;
	border-style: outset;
	border-width: 2px;
}
.live-record-line-2 {
	border-color: #ffbbee;
}
.live-record-desc p {
	text-indent: 2em;
	line-height: 3rem;
}
.live-record-detail p {
	color: #ffffff;
	text-shadow: 2px 2px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
	text-indent: 2em;
	line-height: 3rem;
}

.momo-font-family {
	font-family: "Wendy One", "Reggae One", "Noto Sans TC";
	font-size: 0.9rem;
}
.momo-font-family tbody .btn-sm {
	font-size: 0.6rem;
}